@import url ( "estilo/cabeçalho.css" );
 @import url ( "estilo/banner.css" );
 @import url ( "estilo/carrossel.css" );
 @importar url ( "style/tópicos.css" );
 @import url ( "estilo/contato.css" );
 @importar url ( "style/rodapé.css" );

 :raiz {
 --cor-de-fundo : #EBECEE ;
 --branco : #FFFFFF ;
 --laranja : #EB9B00 ;
 --azul-degrade : gradiente linear ( 97,54 graus , #002F52 35,49 % , #326589 165,37 % );
 --fonte-principal : "Prata" ;
 --azul : #002F52 ;
 --fonte-secundario : "Espaço Grotesk" ;
 --preto : #000000 ;
 }

 corpo {
 cor de fundo : var ( -cor-de-fundo );
 família de fontes : var ( -fonte-principal );
 tamanho da fonte : 16 px ;
 espessura da fonte : 400 ;
 }
